@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

header {
    background-position: center;
    background-size: cover;
    padding: 175px;
    font-size: 100px;
    background-image: url(../images/animal-4006414_640.jpg);
     font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;

}

nav {
     font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  position: sticky;
  top: 0;
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffa500
  }

  ul li {
    float: left;
  }

  ul li a {
    display: block;
    color: #ffa500
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: black
  }

}

body{
background: #FFA500;
background: linear-gradient(180deg, rgba(255, 165, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);

}

h2{

     font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

p{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

footer{
    background-color: black;
}